@font-face {
    font-family: "copticregular";
    /* src: url('Coptic-Regular.ttf'); */
    src: url('Coptic-Regular.ttf') format('truetype')       
  }

#title {
    color: brown;
    text-align: center;
    font-size: 4em;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto;
}

#navigationn {
    font-size: 2em;
}

#sayings_container {
    margin: 1em 3em;
}

ul {
    list-style-type: none;
}

#jesus {
    width: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.stoixonOne{
    font-family: 'copticregular', Times, serif;
    font-size: large;
    font-weight: bold;
}

.stoixonTwo{
    font-family: Times, serif;
    color: brown;
    font-size: x-large;
    font-weight: 200;
    margin: 1%;
    font-style: italic;
    border-bottom: 3px solid #3e3e3e; /* Adds a solid bottom border */
}

a {
    text-decoration: none;
    cursor: pointer;
    color: brown;
}