/* General Styles */
body {
    font-family: 'Georgia', serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

/* Title Styling */
h1#title {
    font-size: 3.5rem;
    text-align: center;
    color: #3e3e3e;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto;
}

h2#description {
    font-size: 1.5rem;
    text-align: center;
    color: Brown;
    margin: .5rem 1rem;
    font-style: italic;
    font-family: Times, serif;
}

/* Dracula Container */
#dracula_container {
    position: relative;
    height: 26em;
    margin-top: 10px; /* Adjust as needed */
    margin-bottom: 20px; /* Ensure space after the image */
}

#dracula_outline {
    height: 26em;
    display: block;
    border: 2px solid black;
    padding: 5px;
    border-radius: 50%;
}

#dracula {
    height: 100%;    
    border-radius: 50%;
    margin: 0em 1em;
}

/* Text Styling */
#text {
    font-family: Times, serif;
    color: #333;
    font-weight: 200;
    margin: 3% 3%;
}

/* Navigation - Main Menu */
#navigationn {
    font-size: 2rem;
    margin: 20px 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Links */
a {
    text-decoration: none;
    cursor: pointer;
    color: brown;
}

/* Responsive Design */
@media (max-width: 600px) {
    h1#title {
        font-size: 3rem;
    }

    li {
        font-size: 1.8rem;
    }

    li a {
        max-width: 100%;
    }

    #navigationn {
        flex-direction: column;
        align-items: center;
    }

    #navigationn a {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
}
